/* 네비게이션 바 스타일 */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #141414;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 9999;
}

nav a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: #e50914;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

/* 메인 섹션 스타일 */
input[type=radio] {
  display: none;
}

.main {
  background-color: #151414;
  text-align: center;
  color: #fff;
  padding: 300px;
  box-sizing: border-box;
  display: flex;
  transform-style: preserve-3d;
}

.main h1 {
  font-size: 48px;
  margin: 0;
  font-weight: bold;
}

.main p {
  font-size: 20px;
  margin-top: 20px;
  line-height: 1.5;
}

body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
}

/* 상단 영화 정보 */
.cards {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: absolute;
  width: 300px;
  height: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
  display: flex; /* flexbox 추가 */
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
}

.card label {
  display: inline-block;
  vertical-align: middle;
}

.cards img {
  max-width: 300px;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-4, #item-2:checked ~ .cards #song-5, #item-3:checked ~ .cards #song-1,  #item-4:checked ~ .cards #song-2, #item-5:checked ~ .cards #song-3 {
  transform: translatex(-120%) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cards #song-5, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2,  #item-4:checked ~ .cards #song-3, #item-5:checked ~ .cards #song-4 {
  transform: translatex(-60%) scale(1);
  opacity: 1;
  z-index: 2;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3, #item-4:checked ~ .cards #song-4, #item-5:checked ~ .cards #song-5 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 3;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-4, #item-4:checked ~ .cards #song-5, #item-5:checked ~ .cards #song-1 {
  transform: translatex(60%) scale(1);
  opacity: 1;
  z-index: 2;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-4, #item-3:checked ~ .cards #song-5, #item-4:checked ~ .cards #song-1, #item-5:checked ~ .cards #song-2 {
  transform: translatex(120%) scale(1);
  opacity: 1;
  z-index: 1;
}


#item-1:checked ~ .cards #song-1 img, #item-2:checked ~ .cards #song-2 img, #item-3:checked ~ .cards #song-3 img, #item-4:checked ~ .cards #song-4 img,  #item-5:checked ~ .cards #song-5 img{
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

/* 하단 영화 정보 */
#movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}

.movie {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 200px;
}

.movie img {
  width: 100%;
}

.movie h2 {
  font-size: 18px;
  margin: 10px;
  text-align: center;
}

.movie p {
  font-size: 14px;
  margin: 10px;
  text-align: center;
}

/* 푸터 스타일 */
footer {
  background-color: #111111;
  color: #b3b3b3;
  padding: 40px;
  box-sizing: border-box;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer-links a {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
  display: block;
}

.footer-links a:hover {
  color: #fff;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  border-top: 1px solid #b3b3b3;
  padding-top: 20px;
}

.footer-bottom img {
  width: 100px;
  margin-right: 20px;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom a {
  color: #b3b3b3;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: #fff;
}