<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
    	<typeAlias type="com.movie.model.Genre" alias="genre"/>
        <typeAlias type="com.movie.model.Movie" alias="movie"/>
        <typeAlias type="com.movie.model.JoinMovie" alias="join"/>
        <typeAlias type="com.movie.model.Favorite" alias="favorite"/>
        <typeAlias type="com.movie.model.Cast" alias="cast"/>
        <typeAlias type="com.movie.model.member.Member" alias="member"/>
        <typeAlias type="com.movie.model.reply.Reply" alias="reply"/>
    </typeAliases>
</configuration>