body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  #movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  
  .movie {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 200px;
  }
  
  .movie img {
    width: 100%;
  }
  
  .movie h2 {
    font-size: 18px;
    margin: 10px;
    text-align: center;
  }
  
  .movie p {
    font-size: 14px;
    margin: 10px;
    text-align: center;
  }
  