/* 네비게이션 바 스타일 */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #141414;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 9999;
  }
  
  nav a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  
  nav a:hover {
    color: #e50914;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }