<!DOCTYPE html>
<html lang="ko">
<head>
<title>TMDB API 예시</title>
<link rel="stylesheet" type="text/css" href="/css/movie/search.css">
</head>
<body>
		<nav>
		<a href="/">Home<a>
				<ul th:if="${session.loginMember}">
					<li>
						<div class="searchbox">
							<form target="_blank" action="/movie_results">
								<input type="search" placeholder="검색할 내용을 입력하세요"
									name="searchinput">
								<button type="submit">검색</button>
							</form>
						</div>
					</li>
					<li><a href="http://localhost:9000/movie_web">영화</a></li>
					<li><a href="http://localhost:9000/myPage">[[${session.loginMember.member_name}]]님</a></li>
					<li><a href="http://localhost:9000/member/logout">로그아웃</a></li>
				</ul>
				<ul th:unless="${session.loginMember}">
					<li>
						<div class="searchbox">
							<form target="_blank" action="/movie_results">
								<input type="search" placeholder="검색할 내용을 입력하세요"
									name="searchinput">
								<button type="submit">검색</button>
							</form>
						</div>
					</li>
					<li><a href="http://localhost:9000/movie_web">영화</a></li>
					<li><a href="http://localhost:9000/member/login">로그인</a></li>
				</ul>
	</nav>
	<div class="container">
		<form>
			<input type="text" placeholder="영화 제목을 입력하세요" id="search-input">
			<button type="submit" id="search-button">검색</button>
		</form>
	</div>
	<div id="movies"></div>
	<script src="/css/movie/search.js"></script>
</body>
</html>
