<!DOCTYPE html>
<html lang="ko">
<head>
<title>TMDB API 예시</title>
<link rel="stylesheet" type="text/css"
	href="/css/movie/search.css">
</head>
<body>
	<nav>
		<a href="/">Home<a>
			<ul>
			  <li><a href="http://localhost:9000">홈</a></li>
			  <li><a href="http://localhost:9000/movie_search">검색</a></li>
			  <li th:if="${session.loginMember}"><a href="http://localhost:9000/member/logout">[[${session.loginMember.member_name}]]님</a></li>
			  <li th:unless="${session.loginMember}"><a href="http://localhost:9000/member/login">로그인</a></li>
			</ul>
	  </nav>
	<div class="container">
		<form>
			<input type="text" placeholder="영화 제목을 입력하세요" id="search-input">
			<button type="submit" id="search-button">검색</button>
		</form>
	</div>
	<div id="movies"></div>
	<script src="/css/movie/search.js"></script>
</body>
</html>
