<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>게시글 읽기</title>
<link rel="stylesheet" href="/css/movie/movieinfo.css">
<script src="https://www.youtube.com/iframe_api"></script>
<script>

function hideTrailer() {
	  document.querySelector('.overlay').classList.remove('show');
	  const player = document.querySelector('#player').innerHTML = '';
	}
	 
	
	const API_KEY = 'dfcdb12192ff1bc68ebd64bb5f86f67e';
	const MOVIE_ID = '502356';
	const API_URL = `https://api.themoviedb.org/3/movie/${MOVIE_ID}/videos?api_key=${API_KEY}`;

	function showTrailer() {
		  fetch(API_URL)
		    .then(response => response.json())
		    .then(data => {
		      const trailer = data.results.find(video => video.site === 'YouTube' && video.type === 'Trailer');
		      const videoId = trailer ? trailer.key : null;
		      if (videoId) {
		        const player = new YT.Player('player', {
		          height: '360',
		          width: '640',
		          videoId,
		          events: {
		            'onReady': function() {
		              document.querySelector('.overlay').classList.add('show');
		              player.playVideo();
		            }
		          }
		        });
		        // 오버레이 클릭 시 정지
		        document.querySelector('.overlay').addEventListener('click', function() {
		          player.stopVideo();
		          document.querySelector('.overlay').classList.remove('show');
		        });
		      }
		    })
		    .catch(error => console.error(error));
		}
	
	
	
</script>
</head>
<body>
	<nav>
		<a href="/">Home<a>
			<ul>
			  <li><a href="http://localhost:9000/movie_search">검색</a></li>
			  <li><a href="http://localhost:9000/movie_web">영화</a></li>
			  <li th:if="${session.loginMember}"><a href="http://localhost:9000/member/logout">[[${session.loginMember.member_name}]]님</a></li>
			  <li th:unless="${session.loginMember}"><a href="http://localhost:9000/member/login">로그인</a></li>
			</ul>
	  </nav>
	<section class="movie-info" th:object="${movie}">
		<div class="poster">
			<img
				th:src="@{https://image.tmdb.org/t/p/w500/__${movie.poster_path}__}"
				alt="Movie Poster">
		</div>
		<div class="details">
			<h1 class="title" th:text="*{title}"></h1>
			<p class="description" th:text="*{overview}"></p>
			<button class="play-button" id="play" onclick="showTrailer()">Play</button>
			
		</div>
		
		
	<div class="overlay" onclick="hideTrailer()">
  	<div id="player"></div>
	</div>
		
	</section>
</body>
</html>