<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 읽기</title>
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
<div id="container">
  <h1>[ 게시판 - 글 읽기 ]</h1>
    <table th:object="${movie}">
      <tr>
        <th>제목</th>
        <td th:text="*{title}"></td>
      </tr>
      <tr>
        <th>overview</th>
        <td th:text="*{overview}"></td>
      </tr>
      <tr>
        <th>poster_path</th>
        <td><img th:src="@{https://image.tmdb.org/t/p/w500/__${movie.poster_path}__}"/></td>
      </tr>
    </table>
</div>
</body>
</html>