<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>Netflix Clone</title>
  <link rel="stylesheet" href="/css/index/movieList.css">
</head>

<body>
  <nav>
    <a href="/">Niagara<a>
        <ul>
          <li><a href="http://localhost:9000">홈</a></li>
          <li><a href="http://localhost:9000/movie_web">영화</a></li>
          <li><a href="http://localhost:9000/movie_search">검색</a></li>
          <li><a href="http://localhost:9000/member/login">로그인</a></li>
        </ul>
  </nav>

  <section class="main">
      <input type="radio" name="slider" id="item-1" checked>
      <input type="radio" name="slider" id="item-2">
      <input type="radio" name="slider" id="item-3">
      <input type="radio" name="slider" id="item-4">
      <input type="radio" name="slider" id="item-5">
      <div class="cards">
        <div id="songs"></div>
      </div>
  </section>
  

  <div id="movies"></div>
  <!-- Footer -->
  <footer>
    <div class="footer-links">
      <div>
        <a href="#">Audio and Subtitles</a>
        <a href="#">Media Center</a>
        <a href="#">Privacy</a>
        <a href="#">Contact Us</a>
      </div>
      <div>
        <a href="#">Audio Description</a>
        <a href="#">Investor Relations</a>
        <a href="#">Legal Notices</a>
      </div>
      <div>
        <a href="#">Help Center</a>
        <a href="#">Jobs</a>
        <a href="#">Cookie Preferences</a>
      </div>
      <div>
        <a href="#">Gift Cards</a>
        <a href="#">Terms of Use</a>
        <a href="#">Corporate Information</a>
      </div>
    </div>
  </footer>
  <script src="/css/index/script.js"></script>
</body>

</html>